.experiencia{
    display: flex;
    justify-content: center;
    padding: 2rem;
    color: azure;
}
.container-experiencia{
    width: 100%;
    padding: 2rem;
    margin-top: 5rem;
    line-height: 2.5rem;
    font-size: large;
    margin: 8rem;
}

@media(max-width: 767px){
    .container-experiencia{
        width: 100%;
        margin: 0rem;
    }
    .experiencia{
        width: 100%;
        padding: 1rem;
        margin-top: 1rem;
        font-size: small;
    }
}

@media (min-width: 768px) and (max-width: 1023px){
    .experiencia{
        width: 75%;
    }
    .container-experiencia{
        width: 75%;
    }
}

@media (min-width: 1024px){
    .experiencia{
        width: 75%;
    }
    .container-experiencia{
        width: 50%;
    }

}