.proyectos{
    width: 80;
    padding: 1rem;
    background: var(--fondo-proyecto);

}

.galeria-proyectos{
    display: flex;
    flex-direction: wrap;
    gap: 1rem;
    justify-content: center;
}

.proyecto{
    background-color: rgba(8, 69, 95, 0.542);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    width: calc(30% - 40px);
    box-shadow: 0 2px 5px rgba(0,0,0,0,1);
    text-align: center;
}
.proyecto img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.proyecto h3{
    margin-top: 10px;
    font-size: 1.2em;
}
.proyecto p{
    margin-top: 10px 0;
}
.proyecto a{
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color:  rgb(110, 120, 134);
    color: white;
    border-radius: 5px;
}

.proyecto a:hover{
    background-color:  rgb(110, 120, 134);
}

@media(max-width: 767px){
    .proyecto{
        width: calc(100% - 40px);
    }
}

@media (min-width: 768px) and (max-width: 1023px){
    .proyecto{
        width: calc(50% - 40px);
}
}

@media (min-width: 1024px){
    .proyecto{
        width: calc(100% - 40px);
    }
}