:root {
    --body-bg-color: rgba(8, 69, 95, 0.542);
    --text-color: white;
    --colorh1-color: rgb(189, 189, 231);
    --fondo-proyecto: rgb(110, 120, 134);



}
/*Aplicando variable creada ene l root al body de nuestra web*/


body {
    display: flex;
    flex-direction: column;
    background: var(--body-bg-color);
    color: var(--text-color);
    font-family: 'segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
h1, h2, h3, h4, p, a {
    color: var(--colorh1-color);
}

/*titulo header*/
.titulo{
    display: flex;
    margin: 3rem;
}
.navigation{
    display:flex;
    gap: 3rem;
    list-style: none;
    justify-content: flex-end;
    margin: 0 3rem;
    color: rgb(255, 240, 245);
}

/* estilo de los enlaces de la barra de navegacion*/
a{
    text-decoration: none;
    color: black;

}

/* Todo lo que contiene el mail */
 .main-container{
    display: flex;
    flex-direction: column;
 }



.experiencia{
    display: flex;
    justify-content: center;
    padding: 1rem;
    color: azure;
}
.container-experiencia{
    width: 100%;
    padding: 2rem;
    margin-top: 5rem;;
    line-height: 2.5rem;
    font-size: large;
    margin: 1rem;

}
/*celular*/
@media(max-width: 767px){
    .titulo{
        justify-content: center;
    }
    .navigation{
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }
    

}
/*tableta - pantallas medianas*/
@media (min-width: 768px) and (max-width: 1023px) {
    .titulo{
        justify-content: center;
    }
    .navigation{
        gap: 2rem;
        justify-content: center;
    }
   
       
}

/*pantallas anchas*/

@media (min-width: 1024px) {
    .titulo{
        justify-content: flex-start;
    }
    .navigation{
        gap: 3rem;
        justify-content: flex-end;
        margin: 0 3rem;
    }
         
}

