/leccion1/HolaMundo/dist/
/leccion1/Ejercicio_1/nbproject/private/
/leccion1/Ejercicio_1/build/
/leccion1/Ejercicio5/nbproject/private/
/leccion1/Ejercicio5/build/
/leccion1/Ejercicio6/nbproject/private/
/leccion1/Ejercicio6/build/
/leccion1/Ejercicio7/nbproject/private/
/leccion1/Ejercicio7/build/
/leccion1/leccion2/nbproject/private/
/leccion1/leccion2/build/
/leccion1/condicionalejercicio_1/nbproject/private/
/leccion1/condicionalejercicio_1/build/
