/leccion1/HolaMundo/dist/
/leccion1/Ejercicio_1/nbproject/private/
/leccion1/Ejercicio_1/build/
/leccion1/Ejercicio5/nbproject/private/
/leccion1/Ejercicio5/build/
/leccion1/Ejercicio6/nbproject/private/
/leccion1/Ejercicio6/build/
/leccion1/Ejercicio7/nbproject/private/
/leccion1/Ejercicio7/build/
/leccion1/leccion2/nbproject/private/
/leccion1/leccion2/build/
/leccion1/condicionalejercicio_1/nbproject/private/
/leccion1/condicionalejercicio_1/build/
/leccion1/condicionalejercicio_2/nbproject/private/
/leccion1/condicionalejercicio_2/build/
/leccion1/Condicionalejercicio_3/nbproject/private/
/leccion1/Condicionalejercicio_3/build/
/leccion1/Clase11_ejercicio1/nbproject/private/
/leccion1/Clase11_ejercicio1/build/
/leccion1/Ejercicio_1Clase_11/nbproject/private/
/leccion1/Ejercicio_1Clase_11/build/
/leccion1/Ejercicio2_clase_11/nbproject/private/
/leccion1/Ejercicio2_clase_11/build/
/leccion1/Ejercicio3_clase_11/nbproject/private/
/leccion1/Ejercicio3_clase_11/build/
