.contacto {
    display: flex;
    justify-content: center;
    padding: 2rem;
    color: azure;
}

.container-contacto {
    width: 100%;
    max-width: 800px;
    padding: 2rem;
    margin-top: 5rem;
    line-height: 2.5rem;
    font-size: large;
    text-align: center;
    background-color: rgba(243, 214, 195, 0.542);
    border-radius: 10px;
}

.container-contacto h2 {
    margin-bottom: 1rem;
}

.container-contacto p {
    margin: 0.5rem 0;
}

@media (max-width: 767px) {
    .container-contacto {
        width: 90%;
        margin-top: 2rem;
        font-size: medium;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .container-contacto {
        width: 75%;
    }
}

@media (min-width: 1024px) {
    .container-contacto {
        width: 50%;
    }
}
