.experiencia {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.container-experiencia {
    width: 100%;
    max-width: 800px;
    padding: 2rem;
    margin-top: 5rem;
    line-height: 2.5rem;
    font-size: large;
    border-radius: 10px;
}

.container-experiencia h2, .container-experiencia h3, .container-experiencia h4 {
    text-align: center;
}

@media (max-width: 767px) {
    .container-experiencia {
        width: 90%;
        margin-top: 2rem;
        font-size: medium;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .container-experiencia {
        width: 75%;
    }
}

@media (min-width: 1024px) {
    .container-experiencia {
        width: 50%;
    }
}
