:root {
    --body-bg-color: rgba(243, 214, 195, 0.542);
    --text-color: rgb(172, 34, 34);
    --colorh1-color: rgb(146, 87, 38);
}

body {
    display: flex;
    flex-direction: column;
    background: var(--body-bg-color);
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3, h4, p, a {
    color: var(--colorh1-color);
}

.titulo {
    display: flex;
    margin: 2rem;
}

.navigation {
    display: flex;
    gap: 3rem;
    list-style: none;
    justify-content: flex-end;
    margin: 0 3rem;
    color: rgb(255, 240, 245);
}

a {
    text-decoration: none;
    color: rgb(177, 68, 68);
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobremi, .contenido, .contacto {
    width: 100%;
    max-width: 1200px;
}

@media (max-width: 767px) {
    .titulo {
        justify-content: center;
    }
    .navigation {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .titulo {
        justify-content: center;
    }
    .navigation {
        gap: 2rem;
        justify-content: center;
    }
}

@media (min-width: 1024px) {
    .titulo {
        justify-content: flex-start;
    }
    .navigation {
        gap: 3rem;
        justify-content: flex-end;
        margin: 0 3rem;
    }
}
